.side {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-right: 1px solid var(--color-border);
    overflow-y: auto;
    background-color: var(--color-bg-secondary);
}

/* All Items, Saved Items */

.items-li {
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 12px;
}

.filter-option > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.filter-option-active {
    background-color: var(--color-accent-subtle);
    color: var(--color-accent);
}

.filter-option-active svg {
    stroke: var(--color-accent);
}

.filter-option:not(.filter-option-active):hover {
    background-color: var(--color-accent-subtle);
    color: var(--color-accent-hover);
}

.filter-option:not(.filter-option-active):hover svg {
    stroke: var(--color-accent-hover);
}

/* Separators */

.separator {
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    margin: 20px 0;
}

/* Categories and feeds */

.categories {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.categories-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.category {
    text-transform: capitalize;
    font-weight: 600;
}

.category-container {
    width: 100%;
}

.category-feeds {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    display: flex;
    flex-direction: column;
}

.category-feeds.open {
    max-height: 100%;
}

.feed-li {
    width: 100%;
}

.category-feed {
    margin-left: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.category-feed > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Feeds without category */

.uncategorized-li {
    width: 100%;
}

.uncategorized {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.uncategorized > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.uncategorized img {
    border-radius: 5px;
}
