.feeds-header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
}

/* All Items heading */

.feeds-header .info {
    font-size: 22px;
    font-weight: bold;
}

.feeds-header .info span {
    font-size: 14px;
    font-weight: 500;
    color: grey;
    margin-left: 5px;
}

/* Header options and filters */
.feeds-header .options {
    display: flex;
    align-items: center;
}

/* Layout customization */

.feeds-header .layout {
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    overflow: hidden;
    height: fit-content;
}

.feeds-header .layout > div {
    padding: 6px 10px;
    cursor: pointer;
    height: fit-content;
}

.feeds-header .layout > div:hover {
    background-color: var(--color-bg-tertiary);
}

.feeds-header .layout > div:nth-child(2) {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

.feeds-header .layout-selected {
    background-color: var(--color-bg-tertiary);
}

/* Buttons */

.feeds-header .button {
    height: fit-content;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    margin-left: 8px;
    cursor: pointer;
    background-color: white;
    height: 30px;
    font-family: var(--font-sans);
    font-size: 15px;
    font-weight: 500;
}

.feeds-header .button-form {
    width: fit-content;
    height: fit-content;
}

.feeds-header .button:hover {
    background-color: var(--color-bg-tertiary);
}
