header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid var(--color-border);
    height: 60px;
}

header div,
header ul {
    display: flex;
    align-items: center;
}

header ul {
    list-style-type: none;
    gap: 5px;
}

header .logo {
    gap: 10px;
    margin-right: 20px;
}

header .icon {
    background-color: var(--color-accent);
    padding: 5px;
    border-radius: 5px;
}

header .logo > p {
    font-family: var(--font-sans);
    font-weight: var(--font-bold);
    font-size: var(--text-lg);
}

header ul li a {
    height: 100%;
    color: var(--color-text-tertiary);
    font-weight: var(--font-medium);
    font-size: var(--text-base);
    text-decoration: none;
    font-family: var(--font-sans);
    border-radius: 5px;
    padding: 4px 12px;
}

header:not(.active) ul li a:hover {
    background-color: var(--color-border-subtle);
}

header .active {
    color: var(--color-text-primary);
    background-color: var(--color-border-subtle);
}

header .right {
    gap: 10px;
}

/* Search input */

header .search {
    height: 100%;
    width: 200px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-secondary);
    border-radius: 6px;
    padding: 0 14px;
}

header .search input {
    outline: none;
    width: 100%;
    height: 100%;
    padding: 6px 6px 3.5px;
    border: none;
    background: transparent;
    font-size: 15px;
}

header .search input::placeholder {
    color: var(--color-text-tertiary);
}

header .search svg {
    stroke: var(--color-text-tertiary);
    margin-right: 4px;
}

header .search div {
    padding: 0 4px;
    border: 1px solid var(--color-border);

    border-radius: 4px;
    background-color: white;
}

header .add {
    border-radius: 6px;
    padding: 6px;
    border: 1px solid var(--color-border);
    cursor: pointer;
}

header .add:hover {
    background-color: var(--color-border-subtle);
}

header .avatar {
    height: 32px;
    width: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
}

header .avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

/* Avatar dropdown */

header .avatar > .dropdown {
    position: absolute;
    height: 30px;
    margin: 4px 5px 0 0;
    top: 100%;
    right: 0;
    width: 80px;
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
header .avatar > .dropdown form {
    width: 100%;
    height: 100%;
}
header .avatar > .dropdown form button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}
header .avatar > .dropdown form button:hover {
    background-color: lightgrey;
}

header .feed-url {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

header .feed-url form {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
}

header .feed-url form input {
    padding: 10px;
}

header .update-feeds {
    display: flex;
    flex-direction: column;
}
